<section class="number">
    <div class="number-label">{{field.label}}<span *ngIf="field.required">*</span></div>
    <form class="input-inputs-70" [formGroup]="numForm">
        <input type="text" name="{{field.label}}" placeholder="0" [formControlName]="fieldIdString"
               #inputVal [value]="inputValue"
               [ngStyle]="{'border-color': (numForm.get(fieldIdString)?.invalid
                         && (numForm.get(fieldIdString)?.dirty || numForm.get(fieldIdString)?.touched)) ? 'red' : ''}"
               (keydown)="keyValue($event)" (change)="changeValue(inputVal.value)" maxlength="2">
    </form>
    <div class="number-arrows">
        <svg (click)="increaseValue()" width="30" height="22" viewBox="0 0 30 22" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3C0 1.34315 1.34315 0 3 0H27C28.6569 0 30 1.34315 30 3V22H0V3Z" fill="#DFDFDF"/>
            <path d="M15.0711 7.00002L21.1421 14.0711H9.00001L15.0711 7.00002Z" fill="#9D9D9D"/>
        </svg>
        <svg (click)="decreaseValue()" width="30" height="22" viewBox="0 0 30 22" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M30 19C30 20.6569 28.6569 22 27 22L3 22C1.34315 22 1.17422e-07 20.6569 2.62268e-07 19L1.9233e-06 -2.62268e-06L30 0L30 19Z"
                  fill="#DFDFDF"/>
            <path d="M15.0711 14.1421L21.1421 7.07107H9.00001L15.0711 14.1421Z" fill="#9D9D9D"/>
        </svg>
    </div>
</section>
