@import "../../../../assets/styles/variables";
//@import "../../../../assets/styles/fonts";

.form {
  .container {
    max-width: $form-width;
    margin: 0 auto;

    h1 {
      font-size: 41px;
      margin: 87px 0 42px 0;
    }

    .button {
      width: 140px;
      padding: 14px 30px;
      background-color: $hover-background-color;
      border: 1px solid $hover-background-color;
      box-sizing: border-box;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }

      &.disabled {
        //cursor: not-allowed;
        //color: rgba(0, 0, 0, 0.5);
        opacity: 0.5;
      }
    }
  }
}
